@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap");
/* font-family: 'Roboto Condensed', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;700;800;900&display=swap");
/* font-family: 'Saira Condensed', sans-serif; */

:root {
    --background: #cdc8b7;

    --brown-tea: #df853c;

    --brown-1000: #95633a;
    --brown-2000: #684026;
    --brown-3000: #230d0d;

    --grey-first: #cbc7c0;
    --grey-second: #c4c4c4;
    --grey-third: #ebebeb;

    --black: #4a4944;

    --roboto: "Roboto Condensed", sans-serif;
    --saira: "Saira Condensed", sans-serif;
}

* {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #cdc8b7 !important;
}

/* "indentRainbow.colors": [ */
.a {
    color: rgba(255, 255, 0, 0.1);
}
.b {
    color: rgba(127, 255, 127, 0.1);
}
.c {
    color: rgba(255, 127, 255, 0.1);
}
.d {
    color: rgba(79, 236, 236, 0.1);
}
/* ] */
