.container {
    width: 65%;
    position: relative;
}

/* .outlineText {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width: 98%;
    height: 200px;
    z-index: 5;
} */

.mainName::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    z-index: 10;
    animation: moveDown 2.5s ease forwards;
}
@keyframes moveDown {
    100% {
        transform: translateY(100%);
    }
}

.img_container {
    width: 35%;
    /* * height changed (from 75vh to max-content) along with .img class */
    height: max-content;
    position: absolute;
    top: -20%;
    right: 0;
    /* z-index: -1; */
}
.img_container::before {
    content: "";
    position: absolute;
    top: -0.8rem;
    left: 0.9rem;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    border-radius: 200px 200px 0 0;
    border: 2px solid white;
    pointer-events: none;
}

.circle {
    position: absolute;
    top: -5%;
    right: 0;
    /* transform: translate(-50%, -50%); */
    width: 105px;
    height: 105px;
    /* pointer-events: none; */
    z-index: 5;
    transform-origin: center center;
    animation: spinning 4.5s linear infinite;
}
@keyframes spinning {
    from {
        transform-origin: center;
        transform: rotate(0deg);
    }
    to {
        transform-origin: center;
        transform: rotate(360deg);
    }
}
.circle:hover {
    top: -5%;
    right: 0;
    animation: none;
}

.img {
    border-radius: 200px 200px 0 0;
    width: 100%;
    /* height: 100%; */
    /* * height changed (from 100% to 75vh) along with .img_container class */
    height: 75vh;
    object-fit: cover;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: white;
    border-radius: 5px;
    z-index: -1;
    animation: expand 1s ease forwards;
}
@keyframes expand {
    100% {
        transform: scaleX(1);
    }
}

/* TODO: adjust the get started button */
.btn {
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    /* border: 1.5px solid black; */
    transition: all 450ms ease;
}
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0.03);
    transform-origin: left;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    pointer-events: none;
    transition: all 400ms ease;
}
.btn:hover::before {
    /* left: 0; */
    transform: scale(1);
}
.arrow {
    transition: all 300ms ease;
}
.btn:hover .arrow {
    margin-left: 0.5rem;
}

.followUs {
    position: fixed;
    bottom: 15%;
    left: 2rem;
}

.first {
    --speed: 2.3s;
}
.second {
    --speed: 1.5s;
}
.third {
    --speed: 0.7s;
}
.links {
    transform: translateX(-50px);
    opacity: 0;
    transition: color 200ms ease;
    animation: forwards var(--speed) ease forwards;
}
.links:hover {
    color: #684026;
}

@keyframes forwards {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.lightSaber {
    animation: saberOn 2s ease forwards;
    transform-origin: bottom;
}
@keyframes saberOn {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
