.image-side {
    /* background-color: tomato; */
    overflow: hidden;
    height: 83vh;
}

.imgContainer {
    overflow: hidden;
    max-width: 100%;
    /* width: max-content;
    height: 83vh; */
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scale 600ms ease 1.2s forwards;
}

.image {
    border-radius: 10px;
    object-fit: cover;
    /* width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    animation: scale 600ms ease 1.2s forwards; */
    width: 100%;
    height: 100%;
}
@keyframes scale {
    100% {
        width: max-content;
        height: 100%;
    }
}

.addBtn {
    --icon-width: 20px;
    --icon-height: 2.6px;

    width: 45px;
    height: 40px;
    position: relative;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addIcon {
    width: var(--icon-width);
    position: relative;
    height: var(--icon-height);
    opacity: 0.6;
    transition: all 180ms ease;
}
.addIcon.added {
    transform: rotate(45deg);
    transition: transform 300ms ease;
}
.addIcon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--icon-width);
    height: var(--icon-height);
    background-color: black;
    border-radius: 50px;
    z-index: 2;
    transform: rotate(90deg);
    transition: transform 300ms ease;
}
.addIcon.added::before {
    transform: rotate(270deg);
}
.addBtn:hover .addIcon {
    opacity: 0.9;
}

.downloadBtn {
    top: -30px;
    right: var(--hover_padding);
    transition: top 450ms ease, opacity 400ms ease, right 300ms ease;
}

.downloadIcon {
    opacity: 0.6;
    transition: all 180ms ease;
}
.downloadBtn:hover .downloadIcon {
    opacity: 1;
}

.text-cover {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.related-text {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
