.form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	position: relative;
}
.form__container {
	width: 38px;
	transition: width 500ms ease;
}
.form__container__input-container {
	width: 300px;
	position: absolute;
	left: 100%;
}

.form:focus-within .form__container,
.form.form--open .form__container {
	width: 350px;
}
.form:focus-within .form__container__input-container,
.form.form--open .form__container__input-container {
	left: 38px;
}

.form__recentSearch {
	right: 0;
	/* background-color: skyblue !important; */
}

.recentItem {
	transition: transform 300ms ease, box-shadow 200ms ease;
}
.recentItem:hover {
	transform: translateY(-5px);
	/* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}

@media screen and (min-width: 850px) {
	.form {
		width: 100%;
	}
	.form__container {
		width: 100% !important;
	}
	.form__container__input-container {
		width: calc(100% - 40px);
		position: static;
		left: 0;
	}
}

@media screen and (max-width: 550px) {
	.form:focus-within .form__container,
	.form.form--open .form__container {
		width: 100%;
	}

	.form__container__input-container {
		width: calc(100% - 44px);
	}

	.form:focus-within .form__container__input-container,
	.form.form--open .form__container__input-container {
		/* left: calc(38px + 5%); */
		left: 38px;
	}
}

@media screen and (max-width: 489px) {
	.form__recentSearch {
		/* background-color: tomato !important; */
		transform: translate(-49.3%);
		left: 50%;
	}
}

/* * removing default close icon from input search */
/* clears the ‘X’ from Internet Explorer */
.searchInput::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
.searchInput::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
/* clears the ‘X’ from Chrome */
.searchInput::-webkit-search-decoration,
.searchInput::-webkit-search-cancel-button,
.searchInput::-webkit-search-results-button,
.searchInput::-webkit-search-results-decoration {
	display: none;
}

.slider {
	/* width: var(--link-width); */
	width: 100%;
	height: 100%;
	display: inline-block !important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 10px;
	background-color: var(--brown-1000);
	box-shadow: inset 7px 7px 8px rgba(92, 56, 33, 0.863),
		inset -2px -2px 7px rgba(116, 72, 43, 0.808);

	/* another version */
	/* box-shadow: inset 7px 7px 8px rgb(171, 166, 148, 0.9),
        inset -2px -2px 7px rgb(217, 212, 188, 0.808); */
}
