/* *for NormalPagination.js component */
.normal-paginate {
    font-size: 1.4rem;
    cursor: pointer;
    border: 1.5px solid var(--black);
    border-radius: 8px;
    padding: 0.5rem 0.6rem;
    transition: all 220ms ease;
}
.normal-paginate:hover,
.normal-paginate:active {
    background-color: rgb(149, 99, 58);
    border-color: rgb(149, 99, 58);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.35);
    color: white;
}
.normal-paginate:disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: default;
}

/* *for Pagination.js component */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    list-style-type: none;

    --shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.35);
    --border-clr: rgba(0, 0, 0, 0.75);
}

.break {
    cursor: default;
    pointer-events: none;
}

.previous,
.next,
.btn {
    border: 1.8px solid var(--border-clr);
    min-width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}

.previous,
.next {
    font-size: 1.5rem !important;
    position: relative;
    transition: all 250ms ease;
}
.previous:hover,
.next:hover,
.previous:active,
.next:active {
    background-color: rgb(149, 99, 58);
    box-shadow: var(--shadow);
    border-color: rgb(149, 99, 58);
    color: white;
}

.btn {
    transition: all 250ms ease;
}
.btn:hover {
    background-color: rgb(149, 99, 58);
    color: white;
    border-color: rgb(149, 99, 58);
    box-shadow: var(--shadow);
}

.activeBtn {
    font-weight: 700;
    background-color: rgb(149, 99, 58);
    color: white;
    border-color: rgb(149, 99, 58);
    box-shadow: var(--shadow);
}

.disabledBtn {
    opacity: 0.6;
    pointer-events: none;
}

@media screen and (max-width: 950px) {
    .previous,
    .next,
    .btn {
        min-width: 35px;
        height: 35px;
        font-size: 0.95rem;
    }

    .next,
    .previous {
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width: 550px) {
    .pagination {
        gap: 1.1rem;
    }

    .next,
    .previous {
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width: 400px) {
    .pagination {
        gap: 1rem;
    }

    .previous,
    .next,
    .btn {
        min-width: 35px;
        height: 35px;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 330px) {
    .pagination {
        gap: 0.75rem;
    }
}
