.cards {
	min-height: 200vh;
	columns: 3;
	column-gap: 1.5rem;
	padding: 1.5rem 0;
}

.previousBtn {
	color: var(--brown-1000);
	border: 2px solid var(--brown-1000);
	position: relative;
	overflow: hidden;
	transition: all 300ms ease;
}
.previousBtn::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--brown-1000);
	transform: translateX(100%);
	z-index: -1;
	transition: transform 300ms ease;
}
.previousBtn:hover {
	color: white;
	box-shadow: inset 5px 5px 12px 1px rgba(0, 0, 0, 0.3);
}
.previousBtn:hover::before {
	transform: translateX(0);
}

.nextBtn {
	color: var(--brown-1000);
	border: 2px solid var(--brown-1000);
	position: relative;
	overflow: hidden;
	transition: all 300ms ease;
}
.nextBtn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--brown-1000);
	transform: translateX(-100%);
	z-index: -1;
	transition: transform 300ms ease;
}
.nextBtn:hover {
	color: white;
	box-shadow: inset 5px 5px 12px 1px rgba(0, 0, 0, 0.3);
}
.nextBtn:hover::before {
	transform: translateX(0);
}

.radios {
	display: none;
}

.boxes {
	overflow: hidden;
	position: relative;
	border: 2px solid hsl(0, 0%, 15%);
	/* transition: all 200ms ease; */
}

.tabs {
	position: relative;
	transition: transform 0.6s ease, opacity 500ms ease;
}

.tabIcons {
	width: 43px;
	height: 43px;
	padding: 0.5rem;
	border-radius: 7px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--brown-1000);
	z-index: 2;
	transition: left 0.6s ease, opacity 0.3s ease, width 500ms ease,
		color 200ms ease;
}

.boxes:hover .tabs {
	transform: translateX(150%);
	opacity: 0;
	pointer-events: none;
}

.boxes:hover .tabIcons {
	color: white;
	width: 96%;
	z-index: 5;
}

.colors {
	position: relative;
	/* z-index: 2; */
}
.colors::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(1.05);
	background-color: rgb(255, 0, 242);
	border-radius: 50%;
	z-index: -2;
	transition: transform 180ms ease;
}
.colors:hover::before,
.colors:focus::before {
	transform: scale(1.1);
}

/* filter reset btn */
.closeText {
	color: black;
	position: relative;
	width: max-content;
	/* pointer-events: none; */
	transition: transform 500ms ease, opacity 400ms ease;
}
/* .closeText::before {
	content: attr(data-text);
	position: absolute;
	opacity: 1;
	width: 100%;
	color: black;
} */
.close {
	position: absolute;
	right: 0%;
	top: 50%;
	z-index: 2;
	font-size: 1.3rem;
	background-color: var(--brown-1000);
	background-color: var(--background);
	/* color: white; */
	color: var(--black);
	width: 2rem;
	height: 100%;
	transform: translateY(-50%);
	/* border-radius: 5px; */
	font-size: 1.3rem !important;
	transition: font-size 200ms ease, right 200ms ease,
		background-color 300ms ease, width 300ms ease, border-color 200ms ease;
	/* transition: transform 300ms ease; */
}
.closeBtn:hover .close {
	width: 100%;
	font-size: 1.5rem !important;
	transform: translate(0, -50%);
}

.close::before {
	content: "";
	width: 1px;
	height: 75%;
	background-color: var(--black);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: background-color 300ms ease;
}
.closeBtn:hover .close::before {
	background-color: transparent;
}

.close__icon {
	transition: transform 700ms ease;
}
.closeBtn:hover .close__icon {
	transform: rotate(270deg);
}
