.profile-name {
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    width: max-content;
    overflow: hidden;
}
.profile-name::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    animation: slideDown 1.2s ease forwards;
}
@keyframes slideDown {
    100% {
        transform: translateY(110%);
    }
}

.profileImg {
    position: absolute;
    left: 50%;
    top: -90px;
    transform: translate(-50%);
}
.profileImg::before {
    content: "";
    width: 25px;
    height: 50px;
    position: absolute;
    left: -23px;
    top: 90px;
    border-top-right-radius: 23px;
    box-shadow: 0 -25px 0 0 #cdc8b7;
}
.profileImg::after {
    content: "";
    width: 25px;
    height: 50px;
    position: absolute;
    right: -23px;
    top: 90px;
    border-top-left-radius: 23px;
    box-shadow: 0 -25px 0 0 #cdc8b7;
}

.icons {
    font-size: 1.4rem;
    opacity: 0.9;
}

.location {
    font-weight: 500;
    cursor: pointer;
    transition: all 250ms ease;
}
.location:hover,
.location:focus {
    text-decoration: underline;
}

.username {
    position: relative;
    z-index: 2;
    cursor: default;
}

.highlight {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    left: -0.4rem;
    transform-origin: left;
    /* transform: scaleX(0.48); */
    width: calc(100% + 0.8rem);
    height: 5px;
    background-color: var(--brown-tea);
    border-radius: 5px;
    z-index: -1;
}

.previousBtn {
    color: var(--brown-1000);
    border: 2px solid var(--brown-1000);
    position: relative;
    overflow: hidden;
    transition: all 300ms ease;
}

.toggler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* background-color: var(--brown-1000); */
    border: 1.5px solid black;
    z-index: -1;
    /* box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.3); */
    /* box-shadow: inset 7px 7px 8px rgba(92, 56, 33, 0.7),
        inset -2px -2px 7px rgba(116, 72, 43, 0.7); */
    /* box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.205); */
}

@media screen and (max-width: 850px) {
    .profile-name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .profile-name {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 500px) {
    .profile-name {
        font-size: 1.5rem;
    }
}
